<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  
</head>

<body>
 <div class="login">
	<h1>Churn Prediction Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	  <input type="text" name="gender" placeholder="Gender" required="required" />
        <input type="text" name="seniorcitizen" placeholder="Senior Citizen" required="required" />
		    <input type="text" name="partner" placeholder="Partner" required="required" />
        <input type="text" name="dependents" placeholder="Dependents" required="required" />
    	  <input type="text" name="tenure" placeholder="Tenure" required="required" />
        <input type="text" name="phoneservice" placeholder="Phone Service" required="required" />
		    <input type="text" name="multiplelines" placeholder="Multiple Lines" required="required" />
        <input type="text" name="internetservice" placeholder="Internet Service" required="required" />
    	  <input type="text" name="onlinesecurity" placeholder="Online Security" required="required" />
        <input type="text" name="onlinebackup" placeholder="Online Backup" required="required" />
		    <input type="text" name="deviceprotection" placeholder="Device Protection" required="required" />
        <input type="text" name="techsupport" placeholder="Tech Support" required="required" />
    	  <input type="text" name="streamingtv" placeholder="Streaming TV" required="required" />
        <input type="text" name="streamingmovies" placeholder="Streaming Movies" required="required" />
		    <input type="text" name="contract" placeholder="Contract" required="required" />
        <input type="text" name="paperlessbilling" placeholder="Paperless Billing" required="required" />
        <input type="text" name="paymentmethod" placeholder="Payment Methods" required="required" />
        <input type="text" name="monthlycharges" placeholder="Monthly Charges" required="required" />
		    <input type="text" name="totalcharges" placeholder="Total Charges" required="required" />


        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>
